.App{
    min-height: 100vh;
}

.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.logo{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "BlankaRegular";
    font-size: x-large;
    padding: 5px;
}

.highlight{
    color: #ff147a;
}

/* Login button */
.logout-button {
    width: 100px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    margin-right: 10px;
}

.logout-button {
    width: 90px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    /* background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%); */
    background: rgb(36, 59, 85);
    background: linear-gradient(rgb(20, 29, 47), rgb(37, 60, 86));
}

.logout-button:hover {
    /* color: #f0094a; */
    color: rgb(36, 59, 85);
    background: transparent;
    box-shadow: none;
}

.logout-button:before,
.logout-button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: rgb(36, 59, 85);
    /* background: #f0094a; */
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.logout-button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.logout-button:hover:before,
.logout-button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.main-content{
    display: flex;
}

.editor{
    width: 70%;
}

.controls{
    width: 30%;
    padding: 10px;
}

.topbar{
    margin: 10px;
    display: flex;
    align-items: center;
}

.output{
    width: 100%;
    height: 200px;
    background-color: rgb(36, 59, 85);
    border-radius: 10px;
    color:#0cde25;
    overflow-y: scroll;
}

.output-text{
    margin: 15px;
    font-size: large;
    font-weight: 20px;
    font-family: Consolas, monospace;
}

.editor-monaco{
    border-radius: 10px;
}

.select {
    /* Styles for the select box */
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    margin-right: 10px;
}

.select option {
    /* Styles for the options within the select box */
    background-color: #fff;
    color: #333;
    font-weight: bold;
}

.run-button{
    padding: 10px 20px; 
    margin: 10px;
    border: 2px solid rgb(2, 39, 82);
    border-radius: 5px;
    color:#022752;
    display: flex;
    align-items: center;
}

.controls-title{
    margin: 13px;
    font-size: larger;
}

.stdin{
    width: 100%;
    height: 100px;
    border-radius: 10px;
    overflow-y: auto;
    margin-top: 10px;
    border: 2px solid rgb(2, 39, 82);
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.icon{
    font-size: 30px;
    color: rgb(2, 39, 82);
    margin-right: 10px;
}

.modal{
    position: absolute;
    top: 50;
    left: 50;
    width: 400px;
    height: 200px;
    z-index: 5;
}

.tool-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.file{
    cursor: pointer;
    margin: 1px;
    border: 1px solid #ccc;
}

.file:hover{
    background-color: #ccc;
}

.file-title{
    margin: 0;
    font-size: large;
}

/* Target the scrollbar track */
.output::-webkit-scrollbar {
    width: 10px; /* Adjust the width as needed */
}

/* Target the scrollbar thumb (the draggable handle) */
.output::-webkit-scrollbar-thumb {
background-color: #6A737D; /* Set the color of the thumb */
border-radius: 5px; /* Round the corners of the thumb */
}

/* Target the scrollbar track on hover */
.output::-webkit-scrollbar-thumb:hover {
    background-color: #4B5261; /* Set a different color on hover */
}

/* Target the scrollbar track when being dragged */
.output::-webkit-scrollbar-thumb:active {
background-color: #2D333B; /* Set a different color when being dragged */
}

.save-inputs{
    margin-left: 18px;
}

.save-input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}